body {
    box-sizing: border-box;
    background: linear-gradient(rgb(132, 132, 132), rgb(0, 0, 0));
}

input {
    align-items: center;
    text-align: right;
    justify-content: center;
    height: 100px;
    width: 320px;
    color: azure;
    font-size: xx-large;
    border: 0px;
    border-radius: 20px;
    background-color: black;
    box-shadow: 0 0 2px 0.6px rgba(27, 27, 27, 0.732);
    margin-bottom: 2px;
}

h1 {
    text-align: center;
    margin-top: 20vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(190, 190, 190);
}

.container {
    text-align: center;
    margin-top: 30px;
}

table {
    margin: auto !important;
}

button {
    font-family:sans-serif;
    height: 70px;
    width: 70px;
    font-size: medium;
    background-color: rgb(30, 30, 30);
    color: rgb(218, 218, 218);
    border-radius: 50%;
    border: 0px;
    margin: 2px;
    box-shadow: 0 0 2px 0.6px rgba(27, 27, 27, 0.732);
}
button:hover{
    background-color: rgb(91, 91, 91);
    transition: 350ms;
}
button:not(:hover){
    /* this attribute is not needed when adding not hover */
    /* background-color: rgb(30, 30, 30); */  
    transition: 350ms;
}
.grey{
    background-color: rgb(199, 199, 199);
    color: black;
}
.grey:hover{
    background-color: rgb(159, 159, 159);
    transition: 350ms;
}
.grey:not(:hover){
    transition: 350ms;
}
.zero{
    width: 10em;
    border-radius: 30px;
}
.orange {
    background-color: rgb(255, 136, 0);
}
.orange:hover {
    background-color: rgb(161, 86, 0);
    transition: 350ms;
}
.orange:not(:hover) {
    transition: 350ms;
}