body{
    background: linear-gradient(rgb(19, 88, 236), rgb(220, 6, 210) );
    box-sizing: border-box;
    align-items: center;
}
main{
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 200px
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerbox{
    background-color: black;
    padding: 20px;
    height: 50px;
    width: 370px;
    gap: 1rem;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 15px 20px rgba(14, 13, 13, 0.889);
}
.innerboxes{
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    height: 90px;
    width: 100px;
    color: antiquewhite;
    text-align: center;
    box-shadow:  0 15px 20px rgb(21, 4, 17);
    overflow: hidden;
}
.date_input{
    border: none;
    width: 90%;
    height: 90%;
    border-radius: 3px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center !important;
    color: rgb(205, 235, 237);
    font-size: 3rem;
    text-shadow: 3px 1px rgb(44, 43, 43);
}
.year, .month, .date{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    padding: 0px;
    margin: 0px;
}
.label{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.btn{
    
    background-color: rgb(40, 40, 40);
    height: 30px;
    width: 100px;
    border-radius: 10px;
    color: aliceblue;
    cursor: pointer;
}
.btn:hover{
    background-color: gray;
    transform: scale(1.1);
    transition: 230ms;
}
.btn:not(:hover){
    background-color: rgb(40, 40, 40);
    height: 30px;
    width: 100px;
    border-radius: 10px;
    color: aliceblue;
    cursor: pointer;
    transition: 230ms;
}